In [4]:
import pandas as pd
import sqlalchemy as sa
from redshift_credentials import database, username, password, host, port, schema
from sqlalchemy.orm import sessionmaker

In [5]:
def sql_con(in_username, in_password, in_host, in_port, in_database, in_schema):
    '''Create connection function'''
    connection = "redshift+psycopg2://%s:%s@%s:%s/%s" % (in_username, in_password, in_host, str(in_port), in_database)
    engine = sa.create_engine(connection)
    session = sessionmaker()
    session.configure(bind=engine)
    s = session()
    setpath = "SET search_path TO %s" % in_schema
    s.execute(setpath)
    return engine

In [7]:
# Define connection.
conn = sql_con(username, password, host, port, database, schema)

In [9]:
df = pd.read_sql("SELECT * FROM product_pull.ret_exch_rep_data_final", conn)

In [10]:
df.head()

,email,cancelled_at,order_number,order_name,created_at_time,created_date,week_ended,month_ended,gross_sales,discount,...,price,total,loop_refund,label_updated_at,label_status,state,tracking_number,returned_at,total_items_exchanged_for,row_num_item_loop
0,thepazgang@yahoo.com,None,1000363,None,2020-07-27 15:21:37,2020-07-27,2020-08-02,2020-07-31,149.0,22.35,...,None,None,None,None,None,None,None,None,None,None
1,gwebbmetz@gmail.com,None,1000747,None,2020-07-27 16:05:17,2020-07-27,2020-08-02,2020-07-31,149.0,22.35,...,None,None,None,None,None,None,None,None,None,None
2,lsherbach@gmail.com,None,1000384,None,2020-07-27 15:23:30,2020-07-27,2020-08-02,2020-07-31,109.0,0.00,...,None,None,None,None,None,None,None,None,None,None
3,janpeters15@hotmail.com,None,1000832,None,2020-07-27 16:12:25,2020-07-27,2020-08-02,2020-07-31,399.0,59.85,...,None,None,None,None,None,None,None,None,None,None
4,habreu@sbcglobal.net,None,100023,None,2019-02-03 18:04:24,2019-02-03,2019-02-03,2019-02-28,399.0,0.00,...,None,None,None,None,None,None,None,None,None,None